# Node build artifacts
node_modules
npm-debug.log

# third party contributed
app.json
package.json 
Procfile
test.js

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml
